div{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
    transition: width 5s, steps(5,end);
}
div:hover{
    width: 400px;
    background-color: black ;
}